* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #222;
}

.game-container {
  display: flex;
  gap: 10px;
}

#gameCanvas {
  background-color: #333;
}

#game-info {
  width: 250px;
  padding: 15px;
  background-color: #444;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 8px;
  height: 600px;
}

#level-info,
#music-info {
  font-size: 18px;
}

#controls-info {
  margin-top: 5px;
  border-top: 1px solid #666;
  padding-top: 15px;
}

#controls-info h3,
#game-description h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #ffcc00;
}

#controls-info ul {
  padding-left: 20px;
}

#controls-info li {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.4;
}

#game-description {
  margin-top: 5px;
  border-top: 1px solid #666;
  padding-top: 15px;
}

#game-description p {
  font-size: 15px;
  line-height: 1.5;
  text-align: justify;
}
